<html>
<head>
	<meta http-equiv=Content-Type content="text/html; charset=utf-8" />
    <title>用户登录</title>
	<style type="text/css">
	@import "js/dojo/resources/dojo.css";
	@import "js/dijit/themes/soria/soria.css";
	@import "style/login.css";
	</style>
		
	<script type="text/javascript" src="js/dojo/dojo.js" charset="utf-8"
		djConfig="locale:'zh',parseOnLoad:true"></script>
	<script type="text/javascript" src="js/login.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/userLogin.js" charset="utf-8"></script>
	<script>
		loginPage = null;
		url_reason = "logout";
		dojo.addOnLoad(function(){
			loginPage= new login.userLogin();
			loginPage.startup();
		});
	</script>
</head>

<body id="userlogin_body" class="soria">

	<div class="error" >
		<span class="error_message" id="error_message">用户退出</span>
	</div>
	
	<div dojoType="dijit.layout.ContentPane" style="color:yellow; font-size:large; padding-bottom:15px" 
	href="open/get-home-notice.do" preventCache="true" errorMessage="" loadingMessage="" >
	</div>
	
	<div id="user_login">
		<div id="user_top">
			<div class="top_l"></div>
			<div class="top_c"></div>
			<div class="top_r"></div>
		</div>
		<div id="user_main">
		<form dojoType="dijit.form.Form" id="loginForm" action="j_spring_security_check" method="POST">
			<div class="main_l"></div>
			<div class="main_c">
				<div class="main_box">
					<div class="input_line">
						<div class="main_text">用户名： </div>
						<div class="main_input">
						<input type="text" id="TxtUserName" maxLength="20" name="j_username" 
						/>
						</div>
					</div>
					<div class="input_line">
						<div class="main_text">密 码： </div>
						<div class="main_input">
							<input type="password" id="TxtPassword" disabled="true" name="pwdPlain"></input>
							<input type="hidden" name="j_password" />
						</div>
					</div>
					<div class="input_line">
						<div class="main_text">自动登录： </div>
						<div class="main_input">
							<select id=SelectCookieDate class=SelectCookieDateCssClass name=save_cookie >
								<option value=none>从不</option>
								<option value=day>一天以内</option>  
								<option value=week>一周以内</option> 
								<option value=month>一月以内</option> 
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="main_r">
				<img src="img/login/user_button.gif" border="0" usemap="#submitMap" />
				<map name="submitMap">
					<area id="loginSubmit" shape="rect" coords="-6,-1,82,85" href="javascript://" title="进入系统" >
				</map>
			</div>
			<input type="submit" style="position:absolute;top:-1000px;" />
		</form>
		</div> <!--  end of user_main -->
		<div id="user_bottom">
			<div class="bottom_l"></div>
			<div class="bottom_c">
				<div >Copyright@2014	版权所有 吉林大学教务处
                    <br/>如有问题，请首先按Ctrl+F5强制刷新，<br/>
                    或<a href="http://uims.jlu.edu.cn/downloads/docs/clear-cache.htm" target="_blank">清除浏览器缓存</a>后刷新。
                </div>
			</div>
			<div class="bottom_r"></div>
		</div>
	</div>
	<div dojoType="dijit.Tooltip" connectId="TxtUserName" style="display: none"  position= "after">
    	学生请输入教学号，教师请输入工作证号
	</div>
	<div dojoType="dijit.Tooltip" connectId="TxtPassword" style="display: none"  position= "after">
    	学生初始密码为身份证号后6位（字母x小写），无身份证号信息时为000000<br/>忘记密码请与学院教学秘书联系。
	</div>
	<div dojoType="dijit.Tooltip" connectId="SelectCookieDate" style="display: none"  position= "after">
   		提示：请谨慎使用此功能<br/>建议只有在使用自己的计算机时才选择保存个人登录信息
	</div>
	
   	<div id="invalidBrowserDlg" dojoType="dijit.Dialog" title="系统提示" style="display: none; text-align:left" >
		<p>尊敬的用户：</p>
		<p>访问本系统建议使用<strong>Firefox浏览器（3.5以上版本）或者Chrome浏览器</strong>，经检测您的浏览器不符合要求。</p>
		<p>您可以选择：
		  <ul>
		  		<li><a href="/downloads/software_tools/FirefoxWP.exe">在此直接下载JLU版FireFox</a></li>
		  		<li><a href="http://www.mozillaonline.com/" >访问FireFox官方网站下载最新版本</a></li>
		  		<li><a href="http://www.google.cn/chrome">访问Chrome官方网站下载最新版本</a></li>
		  		<li>其他基于WebKit的浏览器（如<strong>Safari，傲游3</strong>）也可访问，但未经开发组充分测试，请谨慎使用</li>
		  </ul>
		<p>在您的浏览器下，本系统无法使用，所有输入框将自动锁定，请您更换指定浏览器后使用。</p>
		<p>抱歉给您带来的不便，感谢您的合作！</p>
	</div>
</body>
</html>